In [2]:
import pandas as pd
import sqlite3

In [5]:
conn = sqlite3.connect("../../data/data_mi.sqlite3")

In [6]:
df = pd.read_sql_query("SELECT specialty FROM Specialty;", conn)
df.head()

                         specialty
0                        neurology
1   anesthesiology pain management
2            pediatric radiologist
3  licensed professional counselor
4                internal medicine

In [9]:
df = pd.read_sql_query("""
SELECT Specialty.specialty, COUNT(idx_provider) FROM Specialty
    NATURAL JOIN Provider_Specialty
    NATURAL JOIN Provider
    GROUP BY Specialty.idx_specialty
    ORDER BY COUNT(idx_provider) DESC;
""", conn)
df.head(20)

                                  specialty  COUNT(idx_provider)
0                         internal medicine                 4865
1                           family practice                 3897
2                          general practice                 2561
3                           general dentist                 2244
4                                pediatrics                 1907
5                        nurse practitioner                 1905
6                              chiropractor                 1631
7              general and family dentistry                 1589
8   clinical licensed masters social worker                 1514
9            independent physical therapist                 1334
10                                optometry                 1174
11                        behavioral health                 1156
12                     general practitioner                 1119
13              obstetrics &amp; gynecology                 1116
14                                  surgery                 1002
15          licensed clinical social worker                  916
16                      physician assistant                  867
17                     diagnostic radiology                  829
18                               psychiatry                  819
19                             psychologist                  805

In [11]:
df = pd.read_sql_query("""
SELECT Address.zip, COUNT(idx_provider) FROM Provider
    NATURAL JOIN Address
    GROUP BY (Address.zip);
""", conn)

In [12]:
df.sort_values("COUNT(idx_provider)", ascending=False).head()

       zip  COUNT(idx_provider)
76   48109                 3738
626  49503                 3186
48   48073                 2024
135  48201                 1978
182  48307                 1750