In [4]:
import pandas as pd
import sqlite3

conn = sqlite3.connect("../db/15438.sqlite3")

In [12]:
df = pd.read_sql_query("SELECT specialty FROM Specialty;", conn)
df.head()

            specialty
0     general surgery
1  orthopedic surgery
2          pediatrics
3           neurology
4       ophthalmology

In [11]:
df = pd.read_sql_query("""
SELECT Specialty.specialty, COUNT(idx_provider) FROM Specialty
    NATURAL JOIN Provider_Specialty
    NATURAL JOIN Provider
    GROUP BY Specialty.idx_specialty;
""", conn)
df.head()

            specialty  COUNT(idx_provider)
0     general surgery                 1470
1  orthopedic surgery                 1541
2          pediatrics                 3142
3           neurology                  751
4       ophthalmology                 1081

In [21]:
df = pd.read_sql_query("""
SELECT Address.zip, COUNT(idx_provider) FROM Provider
    NATURAL JOIN Address
    GROUP BY (Address.zip);
""", conn)

In [28]:
df.sort_values("COUNT(idx_provider)", ascending=False).head()

        zip  COUNT(idx_provider)
5392  46202                 1630
7296  63110                 1252
7325  63141                 1167
3281  30342                 1057
7667  65804                  631